.mb-30 {
	flex: 1;
}

.services-view-list__text {
	height: 100%;
  /* position: relative; */
}

/* .services-view-list__btn {
  position: absolute;
  bottom: 0;
} */

.services-news-list .row {
	margin-right: 0px;
	margin-left: 0px;
}