/* import */
/* color */
/* mixin */
.br {
  border-radius: 4px;
}
.opacity-img {
  opacity: 0.8;
}
.opacity-btn {
  opacity: 0.8;
}
.link-hover {
  opacity: 0.8;
}
.box-hover {
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.2);
}
/* rooms section list */
.rooms-section-list__row {
  margin-bottom: 50px;
}
.rooms-section-list__link {
  color: #333;
  text-decoration: none;
}
.rooms-section-list__box {
  width: 100%;
  height: 100%;
  border: 1px solid #dadada;
  padding: 40px 20px;
  text-align: center;
}
.rooms-section-list__box:hover {
  border-color: #fff;
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.2);
}
.rooms-section-list__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 0;
  margin-bottom: 30px;
}
img.rooms-section-list__img-img {
  max-width: 100%;
  max-height: 100%;
}
.rooms-section-list__text {
  line-height: 100%;
}
.rooms-section-list__text-title {
  font-size: 1em;
  margin-bottom: 10px;
  color: #333;
}
.rooms-section-list__text-desc {
  color: #333;
  font-size: 0.9em;
}
/* rooms section */
.rooms-section__top-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.rooms-section__sort {
  margin-bottom: 0px;
}
.rooms-section__sort-text {
  display: inline-block;
  margin-right: 5px;
  font-size: 0.9em;
  color: #777;
}
.rooms-section__sort select {
  padding: 3px 10px;
  font-size: 0.9em;
  color: #777;
  border: 1px solid #ccc;
  outline: 0;
}
.rooms-section__view {
  display: flex;
}
.rooms-section__view-item {
  background-repeat: no-repeat;
  background-position: center;
  width: 28px;
  height: 28px;
  border: 1px solid #ccc;
  margin-left: 7px;
}
.rooms-section__view-tile {
  background-image: url(../images/icon_flat.svg);
}
.rooms-section__view-list {
  background-image: url(../images/icon_list.svg);
}
.rooms-section__view-price {
  background-image: url(../images/icon_table.svg);
}
.rooms-section__view-item:hover,
.rooms-section__view-item.active {
  border: 1px solid #25344c;
  box-shadow: 0 0 1px #25344c;
}
.rooms-section__desc-section {
  margin-top: 20px;
}
.rooms-section-tile__item {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #ececec;
  padding: 40px 20px 30px 20px;
  background-color: #fff;
}
.rooms-section-tile__item:hover {
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.2);
}
.rooms-section-tile__img-box {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
img.rooms-section-tile__img-img {
  max-width: 100%;
  max-height: 100%;
}
.rooms-section-tile__promo-box {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.8em;
  z-index: 4;
}
.rooms-section-tile__promo-action,
.rooms-section-tile__promo-sale {
  display: inline-block;
  padding: 5px 10px;
}
.rooms-section-tile__promo-action {
  background-color: #eb1a1f;
  margin-right: 2px;
  color: #f7f7f7;
}
.rooms-section-tile__promo-sale {
  background-color: #25344c;
  color: #f7f7f7;
}
.rooms-section-tile__text-box {
  color: #333;
}
.rooms-section-tile__title-link {
  display: inline-block;
  font-size: 1.1em;
  line-height: 120%;
  color: #333;
  text-decoration: none;
  margin-bottom: 20px;
}
.rooms-section-tile__param-box {
  display: flex;
  margin-bottom: 20px;
}
.rooms-section-tile__param {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}
.rooms-section-tile__price-box {
  margin-top: 25px;
  font-size: 1.5em;
}
.rooms-section-tile__price-now {
  display: inline;
  font-weight: 600;
}
.rooms-section-tile__price-ot {
  display: inline;
  font-size: 0.8em;
  font-weight: 600;
  margin-right: 2px;
}
.rooms-section-tile__price-rub {
  display: inline;
  font-size: 0.8em;
  margin-left: 2px;
}
.rooms-section-tile__price-old {
  display: inline-block;
  margin: 3px 0 0 10px;
  text-decoration: line-through;
  font-size: 0.8em;
  color: #eb1a1f;
}
.rooms-section-tile__btn-box {
  margin-top: 40px;
}
.rooms-section-list__item {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #ececec;
  padding: 20px 20px;
  background-color: #fff;
}
.rooms-section-list__item:hover {
  border-color: #fff;
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.2);
}
.rooms-section-list__img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
  width: 100%;
  height: фгещ;
}
img.rooms-section-list__img-img {
  max-width: 100%;
  max-height: 100%;
}
.rooms-section-list__promo-box {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.8em;
  z-index: 4;
}
.rooms-section-list__promo-action,
.rooms-section-list__promo-sale {
  display: inline-block;
  padding: 5px 10px;
}
.rooms-section-list__promo-action {
  background-color: #eb1a1f;
  margin-right: 2px;
  color: #f7f7f7;
}
.rooms-section-list__promo-sale {
  background-color: #25344c;
  color: #f7f7f7;
}
.rooms-section-list__text-box {
  color: #333;
  margin: 20px 0 0 20px;
}
.rooms-section-list__title-link {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 1.2em;
  line-height: 120%;
  color: #333;
  text-decoration: none;
}
.rooms-section-list__param-box {
  display: flex;
  margin-bottom: 20px;
}
.rooms-section-list__param {
  padding: 7px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}
.rooms-section-list__desc-text {
  font-size: 0.9em;
  line-height: 1.2;
}
.rooms-section-list__price-box {
  margin-top: 25px;
  font-size: 1.3em;
}
.rooms-section-list__price-now {
  display: inline;
  font-weight: 600;
}
.rooms-section-list__price-ot {
  display: inline;
  font-size: 0.9em;
  font-weight: 600;
  margin-right: 2px;
}
.rooms-section-list__price-rub {
  display: inline;
  font-size: 0.9em;
  font-weight: 600;
  margin-left: 2px;
}
.rooms-section-list__price-old {
  display: inline-block;
  margin: 3px 0 0 10px;
  text-decoration: line-through;
  font-size: 0.8em;
  color: #eb1a1f;
}
/* catalog detail */
.rooms-detail__top {
  position: relative;
  margin: 40px 0 70px 0;
}
.rooms-detail__img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 617px;
  width: 100%;
  min-height: 300px;
}
img.rooms-detail__img-img {
  max-width: 100%;
  max-height: 400px;
  top: 0;
  left: 0;
  z-index: 1;
}
.rooms-detail__img-item:hover {
  opacity: 0.8;
}
.rooms-detail__promo-box {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0.8em;
  z-index: 2;
}
.rooms-detail__promo-action,
.rooms-detail__promo-sale {
  display: inline-block;
  padding: 7px 10px;
}
.rooms-detail__promo-action {
  background-color: #eb1a1f;
  margin-bottom: 5px;
  color: #f7f7f7;
}
.rooms-detail__promo-sale {
  display: block;
  background-color: #25344c;
  color: #f7f7f7;
}
.rooms-detail__param-box {
  display: flex;
  margin-bottom: 20px;
}
.rooms-detail__param {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}
.rooms-detail__price-box {
  margin-bottom: 30px;
}
.rooms-detail__price {
  display: flex;
  align-items: flex-end;
  font-size: 2.2em;
  font-weight: 600;
}
.rooms-detail__price-ot {
  font-size: 0.8em;
  margin-right: 10px;
}
.rooms-detail__price-rub {
  font-size: 0.8em;
  margin-left: 10px;
}
.rooms-detail__price-old {
  display: block;
  margin-top: 10px;
  font-size: 1.2em;
  text-decoration: line-through;
  color: #eb1a1f;
}
.rooms-detail__preview {
  font-size: 0.9em;
  line-height: 150%;
}
.rooms-detail__btn {
  margin-top: 50px;
}
.rooms-detail__btn-link {
  padding: 18px 30px;
}
.rooms-detail .tabs > ul {
  margin: 0 0 30px 0;
}
.rooms-detail .tabs > ul > li {
  font-size: 1em;
}
.rooms-detail__text {
  line-height: 1.5;
}
.rooms-detail__parameter-title {
  font-size: 1.3em;
  margin-bottom: 20px;
}
.rooms-detail__parameter-item {
  display: flex;
  margin-bottom: 15px;
  font-size: 1em;
  justify-content: space-between;
  color: #555;
}
.rooms-detail__parameter-line {
  flex: 1 0;
  border-bottom: 1px dotted #000;
  height: 1em;
  margin: 0 0.4em;
}
.rooms-detail .h4-first {
  margin-top: 0;
}
