 width: 100%;
  height: 85px;
  background: #CD2122;
  border-radius: 4px;
}
#sidebar_calc .text {
  position: absolute;
  left: 15px;
  top: 15px;
  color: #fff;
  font: 600 0.9em/130% Arial;
  text-transform: uppercase;
}
#sidebar_calc .img {
  position: absolute;
  top: 7px;
  right: 10px;
  width: 105px;
  height: 115px;
  background: url(../images/calc_sidebar.png) no-repeat;
  background-size: auto 115px;
}
/* prais */
#sidebar_fixed a {
  text-decoration: none;
}
#sidebar_prais {
  margin: 0 0 50px;
  padding: 5px;
  background: #f7f7f7;
}
#sidebar_prais .block {
  border: 2px dashed #ececec;
  padding: 15px;
  text-align: center;
}
#sidebar_prais .block .fa {
  font-size: 2.5em;
  color: #CD2122;
  margin-bottom: 10px;
}
#sidebar_prais .text {
  color: #333;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  font-size: 0.9em;
  text-transform: uppercase;
}
#sidebar_prais:hover {
  opacity: 0.8;
}
