@media (min-width: 1200px) {
  .container {
    max-width: 1350px;
  }
}
#flvmenu {
    max-width: 1350px;
    text-align: center;
}
.hdslide_inn {
    max-width: 1350px;
}
#flvmenu > ul > li > a {
    padding-left: 35px;
    padding-right: 35px;
}
.services-news-detail__form-box {
    padding-top: 50px;
    padding-bottom: 50px;
}