a div.catalog-section-list__img-box img.catalog-section-list__img-img {
    max-width: 100%;
    max-height: 300px;
}



@media (min-width: 768px) {
    div.row.row-0.catalog-section-list__item div.col-md-4 {
        flex: 0 0 50.0%;
        max-width: 50.0%;
    }

    div.row.row-0.catalog-section-list__item div.col-md-8 {
        flex: 0 0 50.0%;
        max-width: 50.0%;
    }
}